Repository Line4Thon-Nugu/Nugu-Frontend, pull requests merged in 2024-11, with the labels that each got.

#6 [Feature] #4 - 누구생성 페이지 구현
  index.html
  jsconfig.json
  src/App.jsx
  src/atoms/chipState.js
  src/atoms/signUpState.js
  src/components/chip/Chip.jsx
  src/components/chip/styled.js
  src/components/common/Logo/Logo.jsx
  src/components/common/Logo/styled.js
  src/components/common/button/styled.js
  src/components/common/layout/Layout.jsx
  src/components/common/layout/styled.js
  src/components/input/Input.jsx
  src/components/input/styled.js
  src/components/progressBar/ProgreesBar.jsx
  src/components/progressBar/styled.js
  src/constants/chip.js
  src/constants/signUp.js
  src/hooks/usePageInfo.js
  src/pages/Login/Login.jsx
  src/pages/Login/styled.js
  src/pages/Onboarding/Onboarding.jsx
  src/pages/Onboarding/styled.js
  src/pages/SignUp/SignUp.jsx
  src/pages/SignUp/SignUpSubmit.jsx
  src/pages/SignUp/_hooks/useChip.js
  src/pages/SignUp/_hooks/useSignUp.js
  src/pages/SignUp/_hooks/useValidation.js
  src/pages/SignUp/styled.js
  src/router.jsx
  src/styles/global.js
  src/styles/theme.js
  vite.config.js
Labels: ✨ Feature, 🎨 Design, ☁️ 세호

#32 [Feature] #31 - 로그인 / 회원가입 API 연결 및 토큰 처리
  index.html
  package-lock.json
  package.json
  src/apis/login.js
  src/apis/signUp.js
  src/constants/signUp.js
  src/pages/signUp/NuguCreate.jsx
  src/pages/signUp/_hooks/useSignUp.js
Labels: ✨ Feature, ☁️ 세호, 📚 API

#34 [Feature]- 누구소개 페이지 API 연결
  package-lock.json
  src/apis/login.js
  src/apis/nuguIntro.js
  src/components/common/introField/IntroField.jsx
  src/pages/nuguIntro/NuguIntro.jsx
  src/pages/nuguIntro/WriteIntro.jsx
  src/pages/nuguIntro/_hooks/useIntroForm.js
Labels: ☁️ 채민, 📚 API

#36 [Feature] #33 - 누구 페이지 API 연결
  src/apis/instance.js
  src/apis/nuguInfo.js
  src/apis/uuid.js
  src/pages/login/Login.jsx
  src/pages/nugu/NuguAdmin.jsx
  src/pages/nugu/_hooks/useNuguInfo.js
  src/router.jsx
Labels: ✨ Feature, ☁️ 세호, 📚 API

#55 [Feature] #41 - 누구테스트 소유자 API 연동 (get)
  src/apis/nuguTest.js
  src/atoms/nuguTestState.js
  src/components/nuguTest/NuguTestTrue.jsx
  src/pages/nuguTest/NuguTest.jsx
Labels: ✨ Feature, ☁️ 세호, 📚 API

#72 [Fix] #71 - API 에러 해결 및 UI 부분 수정
  src/apis/instance.js
  src/apis/nuguIntro.js
  src/apis/nuguPatch.js
  src/apis/nuguTest.js
  src/apis/uuid.js
  src/components/common/navigateBar/NavigateBar.jsx
  src/components/nuguTest/styled.js
  src/pages/nuguTest/styled.js
Labels: 🎨 Design, ☁️ 세호, 📚 API, 🛠️ Fix
